        .barra ul{
            list-style-type: none;
            color: goldenrod;
            font-size: 30px;
            background-color: blue;
            margin-left: -10px;
            margin-right: 10px;
            margin: -10px;
            border: 0px;
            overflow: hidden;
        }
        .barra li a {
            display: flex;
            padding: 20px 13px;
        }
        .barra li {
            float: left;
        }
        a:link {
            text-decoration: none;
        }      
        a:hover {
            text-decoration: none;
        }
        a{
            color:goldenrod;
        }
        .active {
            background-color: gold;
         }
         .foto img{
             background-color: goldenrod;
             border-radius: 100%;
             width: 420px;
             float: left;
             padding: 1px;
        }
        .meunome{
            text-align: center;
            font-size: 30px;
            font-style: italic;
            color: goldenrod;
        }
        .sobre{
            font-size: 25px;
            text-align: justify;
            color: goldenrod;
        }
        .skills{
            text-align: center;
            font-size: 25px;
            color: goldenrod;
        }
        .skills ul {
            top: 30;
            list-style-type: none;
         }
         .contato{
            color: goldenrod;
            font-size: 25px;
            text-align: center;
         }


