* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#header img{
    width: 100px;
}

#header {
    border-bottom: 1px solid red;
    align-items: baseline;
}

.nav-bar a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
}

.nav-bar a:hover {
    color: red;
}

#minha-foto {
    /* background-color: red; */
    width: 300px;
    order: -1;
}

#sobre {
    font-size: 20px;
    text-align: justify;
}

#skills {
    text-align: center;
    font-size: 20px;
}

#contato {
    font-size: 20px;
    text-align: center;
}


