* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  padding: 15px;
}

p {
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: justify;
  line-height: 1.6;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  display: flex;
  justify-content: center;
}

.about {
  text-align: justify;
  flex: 1;
}

.skills {
  text-align: center;
}
/* Header */
.header {
  border-bottom: 1px solid grey;
  align-items: baseline;
  width: 100%;
  padding: 10px;
}

.header img{
  width: 100px;
}

.nav-header a {
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}

.nav-header a:hover {
  color: grey;
}

/* Aside */
aside {
  float: left;
  max-width: 25%;
  padding: 10px;
}

.profile-picture {
  border-radius: 50%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nome {
  font-size: 1.3em;
  text-align: center;
  margin-top: 10px;
}

#social-links img {
  height: 35px;
  width: auto;
  border-radius: 50%;
}
 
#social-links ul {
  text-align: center;
}

#social-links ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 2%;
}

/* footer */
.footer {
  border-top: 1px solid grey;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}